.setting-screen {
    margin-top: 80px;
}

.settings__setting {
    padding: 20px 0;
    border-bottom: var(--main-border);
    font-size: 18px;
    font-weight: 450;
    display: flex;
    align-items: center;
}

.settings__setting i {
    margin-right: 15px;
}

.settings__setting:last-child i {
    margin-left: 5px;
}

.settings__setting:last-child span {
    margin-left: 5px;
}